In [6]:
# import pandas

import pandas as pd

In [7]:
# Load Data

site_list = pd.read_excel(r"C:\Users\lesli\github-classroom\Shell_Excentus_Files\Shell_Excentus\Shell_Site_List.xlsx")
monthly_excentus_download = pd.read_excel(r"C:\Users\lesli\github-classroom\Shell_Excentus_Files\Shell_Excentus\Site_Redeemer_Issuer_Settlement_3160398.xlsx", skiprows=1)
previous_vendor_discount = pd.read_excel(r"C:\Users\lesli\github-classroom\Shell_Excentus_Files\Shell_Excentus\March_Vendor_Discount.xlsm")

In [8]:
# Raname Columns

site_list.rename(columns={"Merchant_Id_1":"Site ID"}, inplace=True)

In [10]:
# Drop specified columns

site_list.drop(columns={"Zip Code"}, inplace=True)

In [11]:
# Convert Site ID to string type

site_list["Site ID"] = site_list["Site ID"].astype(str)

In [12]:
# Drop last two rows with NAN that only show totals

monthly_excentus_download.drop(monthly_excentus_download.tail(2).index, inplace=True)

In [13]:
# Drop specified columns
columns_to_drop = ["Post Date", "Site Name", "Total Discounted Gallons", "Total Discounts Redeemed", 
"Site Funded", "Redemption Fee", "Issuance Fee", "Flat Fee", "Program ID", "Type"]
monthly_excentus_download.drop(columns=columns_to_drop, inplace=True)

In [14]:
# Convert Site ID to string type

monthly_excentus_download['Site ID'] = monthly_excentus_download['Site ID'].astype(str)

In [15]:
# Remove .0 from Site ID

monthly_excentus_download['Site ID'] = monthly_excentus_download['Site ID'].astype(str).apply(lambda x: x[:-2] if x.endswith('.0') else x)

In [16]:
# Process previous_vendor_discount :  Rename Column Names Previous Vendor Funded Discount

previous_vendor_discount.rename(columns={"Site ID": "Customer Name", "Site Name": "Customer #"}, inplace=True)

In [17]:
# Group monthly excentus by site ID and sum

grouped_monthly_excentus = monthly_excentus_download.groupby("Site ID").sum().reset_index()

In [18]:
# Merge Site List to Grouped Monthly Excentus

merged_site_list_excentus = pd.merge(site_list, grouped_monthly_excentus, on= "Site ID", how="outer")

In [19]:
# Sort Grouped Excentus by Customer #
sorted_merged_excentus = merged_site_list_excentus.sort_values(by="Customer #")

In [20]:
# Create New DF for Current Vendor Discount
current_vendor_discount = sorted_merged_excentus[["Site ID", "Customer #", "Vendor Funded Discounts"]]

In [21]:
# Export vendor_discount_new to Excel

current_vendor_discount.to_excel("May_Vendor_Funded_Discounts.xlsx", index=False)

In [22]:
# Drop Current Month Vendor Funded Discounts

current_month_payables_excentus = sorted_merged_excentus.drop(columns=["Vendor Funded Discounts"], inplace=False)

In [23]:
# Rename columns in Previous Vendor Discount

previous_vendor_discount.rename(columns={"Site Name": "Customer #"}, inplace=True)

In [24]:
# Drop NAN Rows

previous_vendor_discount = previous_vendor_discount.dropna()

In [25]:
# Merge current_month_payables_excentus with previous_vendor_discount

merged_excentus_vd = pd.merge(previous_vendor_discount,current_month_payables_excentus,on="Customer #",how="outer",suffixes=('_new', '_curr'))

In [26]:
# Fill in NAN with 0 in Vendor Funded Discounts Column

merged_excentus_vd["Vendor Funded Discounts"] = merged_excentus_vd["Vendor Funded Discounts"].fillna(0)

In [27]:
# Round numbers to two decimal points
columns_to_round = ["Vendor Funded Discounts", "Total Receivable - Daily", "Total Payable - Daily"]
merged_excentus_vd[columns_to_round] = merged_excentus_vd[columns_to_round].round(2)

In [28]:
# Drop Duplicate Columns

merged_excentus_vd_dropped = merged_excentus_vd.drop("Customer Name_new", axis=1, inplace=False)

In [29]:
# Rename Columns
merged_excentus_vd_renamed = merged_excentus_vd_dropped.rename(columns={"Customer Name_curr": "Customer Name",  "Total Payable - Daily": "Total Payable"}, inplace=False)

In [30]:
# Add Vendor Funded Discount to Total Receivable
merged_excentus_vd_renamed["Total Receivable"] = merged_excentus_vd_renamed["Total Receivable - Daily"] + merged_excentus_vd_renamed["Vendor Funded Discounts"]

In [31]:
# Drop Columns and Create Final Total Sums Sheet
columns_to_drop = ['Vendor Funded Discounts', 'Total Receivable - Daily']
total_sum_excentus = merged_excentus_vd_renamed.drop(columns=columns_to_drop, inplace=False)

In [32]:
# Reorder Columns for Entry
new_order = ["Site ID", "Customer Name", "Customer #", "Total Receivable", "Total Payable"]
pre_mas_entry_excentus = total_sum_excentus[new_order]
pre_mas_entry_excentus

        Site ID Customer Name Customer #  Total Receivable  Total Payable
0   57444687107            a3  60-A-1001            761.86         393.39
1   57445661903            a4  60-A-1002            337.24         150.41
2   12823811000            a5  60-A-1003            432.36         212.12
3   12625514000            a8  60-A-1004           2576.37        1266.22
4   12746116008            a9  60-A-1005            278.73         139.48
5   57444432801           a11  60-A-1006           2044.32        1151.34
6   12813645004           a12  60-A-1007            350.07         118.66
7   57444139208           a13  60-A-1008           3986.29        2244.83
8   12580077001           a14  60-A-1009            813.52         421.68
9   57444434302           a15  60-A-1010            972.47         523.00
10  12819656005           a16  60-A-1011            391.76         193.95
11  12819663001           a17  60-A-1012           1026.01         518.18
12  10009093021           a18  60-A-1013            632.12         298.25
13  10013336028           a19  60-A-1014            627.89         313.99
14  13039720019           a20  60-A-1015            315.36          95.79
15  57445014608           a21  60-A-1016           1038.49         550.20
16  57443127501           a22  60-A-1017            224.79         264.58
17  13074893010           a23  60-A-1018           1332.90         704.75
18  13076628018           a24  60-A-1019            103.04          75.11
19  12518398008           a25  60-A-1020            561.68         311.74
20  13082282016           a26  60-A-1021            824.08         357.09
21  57446164303           a27  60-A-1022            984.57         561.62
22  57444432900           a28  60-A-1023            874.49         500.82
23  57444434005           a29  60-A-1024           1371.60         904.96
24  57444466007           a30  60-A-1025            249.48         116.50
25  12576330000           a31  60-A-1026            358.20         253.87
26  57444458400           a32  60-A-1027            525.20         292.19
27  57445111206           a33  60-A-1028            601.02         327.94
28  57444466304           a34  60-A-1029            615.85         333.24
29  12840411008           a37  60-A-1030            462.60         212.70
30  57445954308           a38  60-A-1031            256.01         119.87
31  57445506207           a39  60-A-1032           1729.72        1138.39
32  10011400024           a40  60-A-1033           1607.56         757.14
33  57446016909           a41  60-A-1034            170.99          90.33
34  12770955008           a42  60-A-1035            783.28         432.21
35  12819018008           a43  60-A-1036            651.12         301.96
36  12767177004           a44  60-A-1037            259.33          96.27
37  12783662005           a45  60-A-1038             64.19          47.24
38  12816280007           a46  60-A-1039            146.02          71.79
39  12674742007           a47  60-A-1040           4008.74        1904.50
40  10057056011           a48  60-A-1041           1195.66         469.28
41  10013866024           a49  60-A-1042            500.30         212.26
42  10011472023            a1  60-A-1043             52.13          21.82
43  10011467023            a2  60-A-1044             58.09          21.54
44  10011371027            a6  60-A-1045             67.62          47.97
45  10011377024            a7  60-A-1046             56.52          33.47
46  10011399028           a10  60-A-1047              6.09           2.31
47  10011483020           a35  60-A-1048             50.64          26.61
48  10011484028           a36  60-A-1049             16.39          12.25

In [33]:
# Calculate totals across numerical columns
totals = pre_mas_entry_excentus.select_dtypes(include=[float, int]).sum()
totals

Total Receivable    37354.76
Total Payable       19615.81
dtype: float64

In [34]:
totals_df = pd.DataFrame(totals).T
totals_df.index = ['Totals']  # Set index label for the totals row

# Concatenate totals_df with pre_mas_entry_excentus
df_totals = pd.concat([pre_mas_entry_excentus, totals_df])

In [35]:
df_totals.to_excel("May_2024_Excentus.xlsx", index=False)